.user-card {
  display: block;
  padding: 1.5rem;
  width: 420px;
  max-width: 100%;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 0 12px 50px -8px rgba(135, 135, 135, 0.3);
  font-size: 1rem;
  text-decoration: none;
  text-align: left;

  > .header {
    display: flex;
    align-items: center;

    > .avatar {
      border-radius: 50%;
      width: 60px;
    }

    > .names {
      padding-left: 1rem;
      color: inherit;

      &:not(:hover) {
        text-decoration: none;
      }

      > .name {
        display: block;
        font-weight: 700;
        font-size: 1.2rem;
      }

      > .login {
        display: block;
        padding-top: 0.2rem;
        font-size: 0.9rem;
        color: color(text-light);
      }
    }
  }

  > .bio {
    margin: 0;
    padding-top: 1rem;
    line-height: 1.3;
  }
}
