* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

a:not(:hover) {
  text-decoration: none;
}

.container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
