:root {
  --primary: #5b55e0;
  --background: #f5f5f5;
  --text: #2e394a;
  --text-light: #6a7585;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: color(background);
  color: color(text);
}

.container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
