.app-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: color(primary);

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .title {
      margin: 0;
      font-size: 1.2rem;
      color: #fff;

      @include above(m) {
        font-size: 1.5rem;
      }
    }

    > .link {
      > .github-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
      }
    }
  }
}
