.app-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--color-primary);

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .title {
      margin: 0;
      font-size: 1rem;
      color: #fff;

      @include above(m) {
        font-size: 1.5rem;
      }
    }

    > .navigation {
      margin-left: auto;
      padding-left: 1rem;
      padding-right: 1.5rem;

      @include above(m) {
        padding-right: 3rem;
      }

      > .link {
        color: #fff;

        + .link {
          margin-left: 1rem
        }
      }
    }

    > .link {
      > .github-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
      }
    }
  }
}
