.search-box {
  > .label {
    font-size: 1rem;
  }

  > .input {
    padding-bottom: 0.1rem;
    width: 9rem;
    border: 0;
    background-color: transparent;
    outline: none;
    color: inherit;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0 -1px 0 0 color(text-light);

    &:focus {
      box-shadow: inset 0 -2px 0 0 color(primary);
    }
  }
}
